<md-list class="list">
    <h3 md-subheader>Users</h3>
    <a class="user-link" md-list-item *ngFor="let user of userList" (click)="onSelectUser(user)" [class.selectedItem]="selectedUser && selectedUser.userid === user.userid">
        <img md-list-avatar [src]="user.owner.foto" [alt]="user.owner.name">
        <h3 md-line> {{user.owner.name}} {{user.owner.surname}}</h3>
        <p md-line>
            <span> Number of Vehicles : {{user?.vehicles?.length}} </span>
        </p>
    </a>
</md-list>
